// Fonts
$font-path: '@/assets/user/font/';


@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: url('#{$font-path}Pretendard-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('#{$font-path}Pretendard-Light.woff2') format('woff2');
}
@font-face{
  font-family:'Pretendard';
  font-weight:400;
  src:url('#{$font-path}Pretendard-Regular.woff2') format('woff2')
}
@font-face{
  font-family:'Pretendard';
  font-weight:500;
  src:url('#{$font-path}Pretendard-Medium.woff2') format('woff2')
}
@font-face{
  font-family:'Pretendard';
  font-weight:600;
  src:url('#{$font-path}Pretendard-Bold.woff2') format('woff2')
}
@font-face{
  font-family:'Pretendard';
  font-weight:700;
  src:url('#{$font-path}Pretendard-ExtraBold.woff2') format('woff2')
}